body,
a {
    transition: all 0.15s ease;
}

body,
html {
    min-height: 100vh;
}

.uiButton {
    color: #aaa;
}

.fullscreen-edit .playerCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.fullscreen-edit div#editorWrapper.noFullScreen {
    position: fixed;
    right: 2.5%;
    top: 2.5%;
    width: 40%;
    height: 90%;
    left: auto;
    z-index: 10;
}

.fullscreen-edit .cm-s-default.CodeMirror {
    background: rgba(255, 255, 255, 0.4);
}

#userPicture {
    background-size: 100%;
}

.toyplug-controls-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.toyplug-controls-container.expanded {
    flex-direction: column;
}

.toyplug-controls-container .ste-header {
    display: flex;
    justify-items: flex-start;
    align-items: center;
}

.toyplug-controls-container:not(.expanded) .ste-header ~ *:not(.ste-footer),
.toyplug-controls-container:not(.expanded) .ste-header .expand-trigger + div {
    display: none;
}

.time-slider {
    clear: both;
    height: 32px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time-slider input {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 24px;
    line-height: 24px;
}

.time-slider [type='number'] {
    text-align: center;
    border: none;
    color: #fff;
    border-radius: 4px;
    width: 40px;
}

.time-slider [type='range'] {
    flex-grow: 100;
    margin: 0 10px;
}

.time-slider [type='checkbox'] {
    margin-left: 10px;
}

.mouse-uniforms {
    line-height: 24px;
    margin-bottom: 20px;
}

.mouse-uniforms input {
    float: left;
    display: block;
    width: 40%;
}

.mouse-uniforms:before {
    content: 'iMouse uniform';
    display: block;
}

.mouse-uniforms:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}

.mouse-uniforms span {
    float: left;
    display: block;
    width: 9%;
    text-align: center;
    color: #888;
}

#divShaders a {
    line-height: 22px;
    position: relative;
}

#divShaders img.small {
    height: 22px;
    margin-right: 5px;
    float: left;
}

#divShaders .bigPreview {
    opacity: 0;
    pointer-events: none;
    display: block;
    right: 100%;
    top: -180px;
    height: 360px;
    width: 640px;
    margin-right: 60px;
    position: fixed;
    transition: opacity 0.15s ease;
    z-index: 3;
    box-shadow: 5px 5px 20px #000;
}

@media screen and (max-width: 1439px) and (min-width: 1280px) {
    #divShaders #divShadersTable {
        height: auto;
        overflow-y: auto;
    }
}

@media screen and (max-width: 1919px) and (min-width: 1440px) {
    #divShaders #divShadersTable {
        height: auto;
        overflow-y: auto;
    }
}

#divShaders td:hover .bigPreview {
    opacity: 1;
    top: 15px;
    right: 15px;
}

body.alternate-profile {
    overflow: auto;
    height: auto;
}

body.alternate-profile div#footer {
    position: fixed;
}

body.alternate-profile,
body.alternate-profile div#contentScroll {
    top: auto;
    height: auto;
    overflow: visible;
}

body.alternate-profile div#header {
    position: fixed;
    z-index: 3;
    background: #000;
}

.tiles-wrapper * {
    box-sizing: border-box;
}

.tiles-wrapper {
    padding: 50px 0 0;
}

.tiles-wrapper .status {
    width: 100%;
}

.tiles-wrapper ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.tiles-wrapper .shader {
    width: 19.5%;
    margin: 0 auto 30px;
}

.tiles-wrapper .shader-tile {
    margin: 0 15px;
    display: block;
    position: relative;
    padding-top: 56%;
}

.tiles-wrapper .shader-tile .shader-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 1.2em;
    color: #fff;
    padding: 5px;
    background: rgba(0, 0, 0, 0.4);
    display: block;
}

.tiles-wrapper .list:before {
    content: attr(data-status);
    display: block;
    font-size: 24px;
    clear: both;
    width: 100%;
    padding: 50px 0 0;
    border-bottom: 1px solid #888;
    margin: 15px 30px;
}

.tiles-wrapper .shader-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.tiles-wrapper:after {
    content: '';
    display: block;
    float: none;
    clear: both;
    background: red;
}

#shaderInfo:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}

.formButton.formButton-extension,
.formButtonSmall.formButton-extension {
    background-color: #1967a0;
    color: #fff;
    transition: all 0.25s ease;
    cursor: pointer;
}

.formButton.formButton-extension {
    padding-bottom: 5px;
}

.formButton.formButton-extension:hover,
.formButtonSmall.formButton-extension:hover {
    background-color: #0a80af;
    color: #fff;
    cursor: pointer;
}

#comments a.regular,
#shaderDescription a.regular {
    font-weight: normal;
    text-decoration: underline;
}

.toyPlugHeader {
    position: fixed;
    width: 100%;
    height: 32px;
    padding-bottom: 8px;
    top: 44px;
    left: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    padding: 0 74px;
    align-items: center;
    z-index: 1;
}

.toyPlugHeader a {
    background: rgb(25, 103, 160);
    color: #eee;
    border-radius: 4px;
    padding: 4px 8px;
    margin-top: 0;
    display: block;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

.toyPlugHeader a:hover {
    color: #fff;
}

.alternate-profile div#dlgAlertShader {
    position: fixed !important;
    right: 0 !important;
    left: 50% !important;
    top: 50% !important;
    bottom: 0 !important;
    margin-left: -160px;
    margin-top: -80px;
}

.ste-renderSpeed-wrapper {
    margin-top: -2px;
    margin-bottom: -2px;
}

#ste-renderSpeed {
    background-color: rgb(25, 103, 160);
    color: #fff;
    margin-left: 10px;
    min-width: auto;
}

.ste-min-input,
.ste-max-input {
    background-color: rgb(25, 103, 160);
    color: #fff;
}

.ste-min-input {
    margin-right: 5px;
}

.ste-max-input {
    margin-left: 5px;
}

.toyplug-controls-container .ste-footer {
    display: flex;
    justify-content: flex-end;
}

.toyplug-controls-container .ste-footer .formButton-extension {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: auto;
}

.toyplug-controls-container .ste-header > * {
    margin-right: 10px;
}

body div#header {
    overflow: visible;
}

.recent-list,
.recent-list * {
    box-sizing: border-box;
}

.recent-list.formButton {
    background-color: rgb(25, 103, 160);
    color: #fff;
    display: inline;
    position: relative;
    margin-right: 20px;
    z-index: 3;
}

.recent-list input {
    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.recent-list ul {
    display: none;
    background: #000b;
    color: #fff;
    padding: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    max-height: 90vh;
    margin: 20px 0;
    z-index: 1;
    border-radius: 4px;
    padding: 0;
    overflow: hidden auto;
}

.recent-list input:checked + ul {
    display: block;
}

.recent-list li {
    margin: 0;
    padding: 0;
}

.recent-list li a {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 8px;
    text-align: left;
    font-weight: normal;
    text-decoration: none;
    transition: all 0.25s ease;
}

.recent-list li:first-child a {
    padding-top: 8px;
}

.recent-list li:last-child a {
    padding-bottom: 8px;
}

.recent-list li a:hover {
    background: #0a80af;
}

.recent-list img {
    width: 64px;
    margin-right: 8px;
}

.recent-list li.no-shaders-info {
    padding: 10px;
    white-space: pre-line;
}

.toyplug-preview {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-width: 100%;
    max-height: 100%;
    z-index: 10;
    display: none;
    cursor: pointer;
}

.toyplug-preview.visible {
    display: block;
}

.formButton.formButton-extension.formButton-preview-button {
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 30px;
    background-position: 50%;
}

.ste-rendering-meters {
    z-index: 9;
    position: absolute;
    padding: 5px;
    width: 100px;
    left: 15px;
    top: 15px;
    width: 120px;

    font-size: 10px;
    background: #031d279c;
}

.ste-rendering-meters p {
    text-shadow: 1px 1px 1px #000;
    margin: 0;
    color: #f80;
}

.ste-rendering-meters .slowest {
    color: #f00;
}

.ste-rendering-meters .fastest {
    color: #0a0;
}
